main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: calc(100vh - 137px);
    position: absolute;
    bottom: 0;
    overflow-x: auto;
    overflow-y: hidden;
}

ul.errorlist li {
    color: red;
}

.sidebar {
    width: 280px;
    background-color: #f0f0f0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.content {
    left: 280px;
    height: 100vh;
    width: calc(100vw - 280px);
    bottom: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}

.dropdown-toggle {
    outline: 0;
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

.post_image-container {
    width: 200px;
    height: 0;
    border-radius: var(--bs-card-border-radius);
    position: relative;
    overflow: hidden;
}


.image-container {
    width: 350px;
    height: 0;
    padding-bottom: 70%;
    border-radius: var(--bs-card-border-radius);
    position: relative;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#picture__input {
    display: none;
}

.picture {
    width: 400px;
    aspect-ratio: 16/9;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
}

.picture:hover {
    color: #777;
    background: #ccc;
}

.picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
}

.picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture__img {
    max-width: 100%;
}

.scale {
    transition: 1s; /* Время эффекта */
}

.scale:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
}

.card_size {
    min-width: 352px;
    max-width: 352px;
    min-height: 502px;
    max-height: 502px;
}


.post_card_size {
    min-width: 634px;
    max-width: 634px;
    min-height: 248px;
    max-height: 248px;
}

.card {
    box-shadow: 12px 4px 8px 0 rgba(0, 0, 0, 0.2), 12px 18px 20px 0 rgba(0, 0, 0, 0.19);
}