{% extends "catalog/base.html" %}
{% load my_tags %}

{% block title %}Categiries{% endblock %}
{% block menu_category_active %}active{% endblock %}

{% block header %}
    <header>
        <div class="pricing-header p-2 pb-md-2 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">Категории</h1>
            {% block menu_des %}

            {% endblock %}
        </div>
    </header>
{% endblock %}

{% block main %}
    <main class="row overflow-y-auto">
        <div class="row">
            {% for category in categories %}
                <div class="col my-3 d-flex justify-content-center">
                    <div class="card border border-primary shadow-1 card_size">
                        <div class="image-container shadow-1">
                            <a href="{% url 'catalog:category_products' category.id %}">
                                <img src="{% if category.image %}
                            {{ category.image | media_path }}
                            {% else %}
                                https://placehold.co/350x250
                            {% endif %}" class="img-fluid scale"/>
                            </a>
                        </div>

                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ category.name }}</h5>
                            <p class="card-text">
                                {{ category.description | truncatewords:15 }}
                            </p>
                            <div class="mt-auto">
                                <button type="button" class="btn btn-primary">Button</button>
                            </div>
                        </div>
                        {% if category.creation_date %}
                            <div class="card-footer">
                                {{ category.creation_date | date }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            {% include 'catalog/includes/inc_footer.html' %}
        </div>
    </main>
{% endblock %}