{% extends "catalog/base.html" %}
{% load my_tags %}

{% block title %}Catalog{% endblock %}
{% block menu_main_active %}active{% endblock %}

{% block header %}
    <header>
        <div class="pricing-header p-2 pb-md-2 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">Главная</h1>
            <p class="fs-5 text-body-secondary">Вы находитесь на сайте, предназначенном для продажи товаров</p>
        </div>
    </header>
{% endblock %}

{% block main %}
    <main class="row overflow-y-auto">
        <div class="row">
            {% for product in products %}
                <div class="col my-3 d-flex justify-content-center">
                    <div class="card border border-primary shadow-1 card_size">
                        <div class="image-container shadow-1">
                            <img src="{% if product.image %}
                            {{ product.image | media_path }}
                            {% else %}
                                https://placehold.co/350x250
                            {% endif %}" class="img-fluid"/>
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                            </a>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">
                                {{ product.description | truncatewords:100 }}
                            </p>

                            <button type="button" class="btn btn-primary">Button</button>
                        </div>
                        <div class="card-footer">2 days ago</div>
                    </div>
                </div>
            {% endfor %}

                {% include 'catalog/includes/inc_footer.html' %}


        </div>
    </main>
{% endblock %}