{% extends "catalog/base.html" %}
{% block title %}Catalog{% endblock %}
{% block menu_main_active %}active{% endblock %}
{% block header %}
    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">Главная</h1>
            <p class="fs-5 text-body-secondary">Вы находитесь на сайте, предназначенном для продажи товаров</p>
        </div>
    </header>
{% endblock %}
{% block main %}
    <main class="row align-items-start scroll">
        <div class="row text-center">
            <div class="col-3">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Товар 1</h4>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title pricing-card-title">$100</h2>
                        <p>
                            10 users included,
                            2 GB of storage,
                            Email support,
                            Help center access
                        </p>
                        <button type="button" class="w-100 btn btn-lg btn-success">Купить</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <h1>FAQ</h1>
                <div class="row">
                    <div class="col-4">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#multiCollapseExample1" aria-expanded="false"
                                aria-controls="multiCollapseExample1">Как купить?
                        </button>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#multiCollapseExample2" aria-expanded="false"
                                aria-controls="multiCollapseExample2">Как доставить?
                        </button>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#multiCollapseExample3" aria-expanded="false"
                                aria-controls="multiCollapseExample3">Какая гарантия?
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="card card-body">
                                Выберите желаемый товар.
                                Оплатите его.
                                Получите свою покупку.
                                Готово!
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample2">
                            <div class="card card-body">
                                Упакуйте товар.
                                Выберите способ доставки.
                                Отправьте его получателю.
                                Готово!
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample3">
                            <div class="card card-body">
                                Никакой гарантии, только магическая пылька.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Название товара</th>
                        <th scope="col">Цена за штуку</th>
                        <th scope="col">Количество</th>
                        <th scope="col">Итоговая сумма</th>
                        <th scope="col">Статус заказа</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>PS4</td>
                        <td>400</td>
                        <td>1</td>
                        <td>400</td>
                        <td>
                            <div class="alert alert-primary my-0" role="alert">Новый</div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>PS5</td>
                        <td>700</td>
                        <td>2</td>
                        <td>1400</td>
                        <td>
                            <div class="alert alert-warning my-0" role="alert">Обработка</div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>PS5</td>
                        <td>700</td>
                        <td>2</td>
                        <td>1400</td>
                        <td>
                            <div class="alert alert-success my-0" role="alert">Обработан</div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </main>
{% endblock %}