{% extends "catalog/base.html" %}
{% load my_tags %}

{% block title %}New Product{% endblock %}
{% block menu_product_active %}active{% endblock %}

{% block header %}
    <header>
        <div class="pricing-header p-2 pb-md-2 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">
                {% if object %}
                    Обновить продукт
                {% else %}
                    Создать новый продукт
                {% endif %}

            </h1>
        </div>
    </header>
{% endblock %}

{% block main %}
    <main class="row overflow-y-auto">
        <div class="row justify-content-center">
            <div class="justify-content-center align-items-center w-50">
                <div class="col">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Новый Продукт</h3>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <p>{{ form.name.label_tag }} {{ form.name }}</p>
                                <p>{{ form.name.errors }}</p>
                                <p>{{ form.description.label_tag }} {{ form.description }}</p>
                                <p>{{ form.description.errors }}</p>
                                <p>{{ form.category.label_tag }} {{ form.category }}</p>
                                <p>{{ form.purchase_price.label_tag }} {{ form.purchase_price }}</p>
                                <p>{{ form.image.label_tag }} {{ form.image }}</p>
                                <p>{{ form.is_active.label_tag }} {{ form.is_active }}</p>

                                <h5 class="mb-2 pb-2">Версии продукта</h5>
                                {{ version_formset.management_form }}
                                {% for form in version_formset.forms %}
                                    {% if form.version.value or form.version_name.value or form.is_current.value %}
                                        <p>{{ form.version.label_tag }} {{ form.version }}</p>
                                        <p>{{ form.version.errors }}</p>
                                        <p>{{ form.version_name.label_tag }} {{ form.version_name }}</p>
                                        <p>{{ form.version_name.errors }}</p>

                                        <p>{{ form.is_current.label_tag }} {{ form.is_current }}</p>
                                        {% if version_formset.non_form_errors %}
                                            <ul class="errorlist">
                                                {% for error in version_formset.non_form_errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                        <p>{{ form.DELETE.label_tag }} {{ form.DELETE }}</p>

                                    {% else %}
                                        <p>{{ form.version.label_tag }} {{ form.version }}</p>
                                        <p>{{ form.version_name.label_tag }} {{ form.version_name }}</p>
                                        <p>{{ form.is_current.label_tag }} {{ form.is_current }}</p>
                                        <p>{{ form.DELETE.label_tag }} {{ form.DELETE }}</p>
                                    {% endif %}
                                    {{ form.product }} {{ form.id }}
                                    {% if not forloop.last %}
                                        <hr>
                                    {% endif %}
                                {% endfor %}
                                <input class="btn btn-primary btn-lg" type="submit"
                                        {% if object %}
                                            value="Сохранить"
                                        {% else %}
                                            value="Создать"
                                        {% endif %}/>
                                <a href="{% url 'catalog:product_list' %}" class="btn btn-secondary btn-lg">Отменить</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'catalog/includes/inc_footer.html' %}
        </div>
    </main>
{% endblock %}